.buttonCart {
    /* Initially hidden */
    opacity: 0;
    transform: translateY(10px);
    background-color: rgb(95, 70, 101);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-bottom: 10px;
    position: absolute; /* Position to layer it over the card content */
    bottom: 10px;       /* Adjust for positioning at the bottom */
    left: 50%;
    transform: translate(-50%, 20px);
}

.productCard:hover .buttonCart {
    opacity: 1;
    transform: translate(-50%, 0);
}
